@charset "UTF-8";

form {
    width: 600px;
    height: 300px;
    background-color: rgb(153, 152, 155);
    text-align: center;
    margin: auto;
}

section {
    width: 800px;
    height: 1200px;
    background-color: rgb(153, 152, 155);
    text-align: justify;
    margin: auto;
    padding: 10px;
    
}